node_modules
.env
.vercel
.env*.local
.cursor
.agents
.vercel
Rencana Modernisasi UI.md
Rencana Perombakan Form Transaksi Karyawan.md
planbaru.md
-p
.clinerules/*
plan-auditCodebase.prompt.md
implementation_plan.md
.clineignore
github.com_supabase-community_supabase-mcp